PORT=5000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=4ef9bc34f5f83dbaacfbd6373078099b87fb51b7db08024abaa5c7741d8f326770c99fec0ec807f597aa1e7af9ce40ee2ea750abe95b827ceab7a7bbd34d17a1
JWT_EXPIRES_IN=1d
SUPABASE_URL=https://cxgskgflvrdtbkrvrkcg.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN4Z3NrZ2ZsdnJkdGJrcnZya2NnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzU2NTcwMCwiZXhwIjoyMDg5MTQxNzAwfQ.RyWUdiP54EnkTwqMdlHCeQw2mT_ylczWAWt4g_UbUuA